@import '../../Paleta-colores.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*---------------VARIABLES---------------------*/
$app-size-height: 100%;
$app-size-width: 100%;

$option-size: 65px;
$header-size: 3cm;

$standar-border-radius: 17px;

$text-size-sucursal: 35px;

$text-size-label-1: 10px;
$text-size-value-1: 10px;

$text-size-value-2: 30px;

$text-size-target-title: 18px;

$text-size-list: 12px;

$main-input-size-height: 2cm;
$main-input-size-width: 2.5cm; 





/*------------------GENERAL STYLES----------------------*/
.Index-responsiva{
    height: 100%;
    width: 100%;
}

.Responsiva{
    display: grid;
    height: $app-size-height;
    width: $app-size-width;
    grid-template-columns: $option-size auto;
    grid-template-rows: $header-size calc(100% - #{$header-size});
    grid-template-areas: 
        "header header"
        "options body"
    ;

    border: 1px solid black;
    background-color: $background-responsiva;
    font-family: 'Merriweather', serif;
}

.main-card{
    background-color: $color-mainCard;
    box-shadow: 0px 3px 6px $shadow;
}

.input-card{
    background-color: $color-inputCard;
}

h2, h3{
    color: $text-target-title;
    margin: 0px;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $text-size-target-title;
}

p, label{
    margin: 0px;
    color: $text-responsiva;
    font-family: 'Merriweather', serif;
    font-size: $text-size-label-1;
}

input{
    appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border-style: none;
    border-width: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
    color: $text-responsiva;
}
input::placeholder{
    color: $placeholder;
}

.generalBtn{
    background-color: $color-ribbon;
    height: 45px;
    width: 45px;
    border-radius: 100%;
    border-style: solid;
    border-width: 3px;
    box-shadow: 0px 0px 6px $shadow;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .generalBtn:hover{
        cursor: pointer;
    }

    .generalBtn img{
        height: 90%;
        width: 90%;
    }
/**/


















/*----------------HEADER---------------*/

.header{
    grid-area: header;
    background-color: $color-ribbon;
    height: $header-size;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 6px $shadow;
}




    .header__logo{
        margin-left: 1%;
        height: 90%;
    }




    .header__sucursal{
        margin: 0px;
        color: $color-green-menta;
        font-family: 'Libre Baskerville', serif;
        font-size: $text-size-sucursal;
        text-align: center;
    }




    .header__form{
        margin-right: 2%;
        height: 2.5cm;
        width: 16cm;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: $standar-border-radius;
    }



        .form__usuarios__section{
            display: flex;
            height: $main-input-size-height;
            width: $main-input-size-width * 2;
            border-radius: $standar-border-radius;
            box-shadow: 0px 0px 6px $shadow;
        }

            .usuario__content{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }

                .usuario__value{
                    margin-top: 1.2cm;
                    height: 1.5cm;
                    width: 90%;
                    text-align: center;
                    font-size: $text-size-label-1;
                }

                .usuario__title{
                    margin-bottom: 0.2cm;
                    width: 90%;
                    border-top: 1px solid $text;
                    text-align: center;
                    font-weight: bold;
                }

                .usuario1{
                    border-top-left-radius: $standar-border-radius;
                    border-bottom-left-radius: $standar-border-radius;
                    width: 50%;
                }

                .usuario2{
                    border-top-right-radius: $standar-border-radius;
                    border-bottom-right-radius: $standar-border-radius;
                    width: 50%;
                }
        /**/




        .form__caja__content{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: $main-input-size-height;
            width: $main-input-size-width;
            border-radius: $standar-border-radius;
            box-shadow: 0px 0px 6px $shadow;
            font-weight: bold;
        }

            .caja__value{
                margin-top: 10%;
                height: 60%;
                width: 90%;
                text-align: center;
                font-size: $text-size-value-2;
            }

            .caja__title{
                margin-bottom: 5%;
                width: 90%;
                border-top: 1px solid $text;
                text-align: center;
            }
        /**/



        .form__fechas__section{
            display: flex;
            flex-direction: column;
            width: $main-input-size-width * 2.5;
        }

            .fecha__label{
                margin-left: 10px;
                margin-top: 5px;
            }

            .fecha__content{
                display: flex;
                align-items: center;
                width: 100%;
                height: 0.5cm;
                border-radius: $standar-border-radius;
                box-shadow: 0px 0px 6px $shadow;
            }
                .fecha__content p{
                    color: $placeholder;
                }


                .fecha__date{
                    margin-left: 10px;
                    width: 70%;
                    font-size: $text-size-value-1;
                }

                .fecha__time{
                    width: 20%;
                    font-size: $text-size-value-1;
                    text-align: center;
                    font-weight: bold;
                }
            /**/
        /**/
    /**/    
/**/




















/*---------------OPTIONS----------------*/
.options{
    grid-area: options;
    width: $option-size;
    height: 100%;
    background-color: $color-ribbon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 0px 6px #b3b3b341;
}

    .options__mainBtns-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .printBtn{
            border-color: $color-green-pastel;
        }
        .printBtn:hover{
            background-color: $color-green-pastel;
        }
        
        .saveBtn{
            border-color: $color-green-primary;
        }
        .saveBtn:hover{
            background-color: $color-green-primary;
        }
        
        .adminBtn{
            border-color: $color-green-menta;
        }
        .adminBtn:hover{
            background-color: $color-green-menta;
        }
    /**/

    .options__controlBtns-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
        .paperBtn{
            border-color: $color-pink-primary;
        }
        .paperBtn:hover{
            background-color: $color-pink-primary;
        }

        .productsBtn{
            border-color: $color-magent;
        }
        .productsBtn:hover{
            background-color: $color-magent;
        }

        .articlesBtn{
            border-color: $color-purple;
        }
        .articlesBtn:hover{
            background-color: $color-purple;
        }

        .devicesBtn{
            border-color: $color-cyan-primary;
        }
        .devicesBtn:hover{
            background-color: $color-cyan-primary;
        }
    /**/
/**/




















/*---------------BODY------------------*/
.body{
    grid-area: body;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100%;
    grid-template-areas: 
    "section1 section2 section3"
    ;
    color: $text-responsiva;
}





    .body__section-1{
        grid-area: section1;
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
        /*------------------PRODUCTS----------------------*/
        .products{
            width: 7cm;
            height: 95%;
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            

            .products__content-sold{
                height: 30%;
                width: 90%;
                border-top-left-radius: $standar-border-radius;
                border-top-right-radius: $standar-border-radius;
                box-shadow: 0px 0px 6px $shadow;
                margin-bottom: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
                .products__subtitle__box{
                    width: 90%;
                    display: flex;
                    justify-content: flex-end;
                }

                    .products__subtitle-1{
                        margin-top: 10px;
                        font-size: $text-size-label-1;
                        margin-right: 10px;
                    }

                    .products__subtitle-2{
                        margin-top: 10px;
                        font-size: $text-size-label-1;
                    }
                /**/

                .products__sold{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 80%;
                    font-size: $text-size-list;
                }

                    .sold__item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid $text;
                    }
                        .sold__item__name{
                            margin-left: 10px;
                            max-width: 130px;
                        }

                        .sold__item__value-2{
                            margin-right: 20px;
                            font-weight: bold;
                        }
                    /**/
                /**/
            /**/

            .products__content-inventory{
                height: 57%;
                width: 90%;
                border-bottom-left-radius: $standar-border-radius;
                border-bottom-right-radius: $standar-border-radius;
                box-shadow: 0px 0px 6px $shadow;
                margin-top: 2px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                .products__inventory{
                    display: flex;
                    flex-direction: column;
                    width: 90%;
                    height: 85%;
                    font-size: $text-size-list;
                }
                   
                        .inventory__item{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid $text;
                        }

                            .inventory__item__name{
                                margin-left: 10px;
                                width: 40%;
                            }

                            .inventory__item__value-1{
                                width: 40px;
                                height: 100%;
                                text-align: center;
                                margin-right: 7px;
                                font-weight: bold;
                                font-size: $text-size-list;
                            }

                            .inventory__item__division{
                                border-left: 1px solid $text;
                                height: 80%;
                                margin-right: 7px;
                            }


                            .inventory__item__value-2{
                                width: 40px;
                                height: 100%;
                                text-align: center;
                                margin-right: 10px;
                                font-weight: bold;
                                font-size: $text-size-list;
                            }
                        /**/
                    /**/        
                /**/
            /**/
        /**/
    /**/









    .body__section-2{
        grid-area: section2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
        .copy{
            border-radius: $standar-border-radius;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
            .copy__paper__checkbox{
                display: flex;
                width: 100%;
                justify-content: flex-end;
            }
            
            .copy__section__display{
                display: flex;
            }
                .copy__section{
                    display: gr4051
                    ;
                    grid-template-areas: 
                    "copiasBN copiasC"
                    "impresionesBN impresionesC"
                    ;
                }

            /**/    
        /**/
    /**/









    .body__section-3{
        grid-area: section3;
        display: flex;
        flex-direction: column;
    }
/**/
