$color-green-pastel:#26FF8B;
$color-green-primary:#00FF4C;
$color-green-menta:#6BAEA7;
$color-cyan-primary:#00FFF0;
$color-purple:#7040C4;
$color-magent:#BD31F8;
$color-pink-primary:#FF26A5;
$backgroun-main: #ffffff;
$color-white-primary:#F8F8F8;
$color-white-secondary:#F1F1F1;
$border: #d6d6d6;
$text: #818181;
$shadow: #e0e0e0;